.footer {
  background: $dark-grey;
  padding: 1.5rem 0;
  color: white;

  // Particles.js canvas
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;

    #logo-footer {
      width: 200px;
    }

    .top-scroll-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      text-align: center;
      border: 3px solid white;
      border-radius: 50%;
      transition: 0.3s;
    }

    .top-scroll-button:hover {
      color: $color-blue;
      border: 3px solid $color-blue;
    }

    .footer-icon-links a {
      margin-left: 2rem;
      transition: 0.3s;
      &:hover {
        color: $color-blue;
      }

      i {
        transition: 0.3s;
        &:hover {
          transform: translateY(-20%);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    .footer-flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .top-scroll-button {
        margin-top: 2rem;
      }

      .footer-icon-links {
        margin-top: 2rem;

        a {
          margin: 0 1rem;
        }
      }
    }
  }
}
