html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  .noscroll {
    overflow-x: hidden;
  }
  padding: 0;
  line-height: 1.5;
  background: $dark-grey;
}

a {
  text-decoration: none;
  color: $text-color;
}

.main-font {
  font-family: 'Alfa Slab One', 'Poppins';
  font-weight: 400;
}

// Utility classes
.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}

.container {
  max-width: $website-width;
  padding: 1.5rem 1.5rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

// Text
.text-blue {
  color: $color-blue;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn {
  @extend %btn-shared;
  &-blue {
    color: white;
    @extend %btn-shared;
    background-color: $color-blue;
    border: 2px solid $color-blue;
  }

  &-dark {
    @extend %btn-shared;
    color: white;
    background-color: $dark-grey;
  }

  &-blue-outline {
    @extend %btn-shared;
    color: $color-blue;
    background-color: transparent;
    border: 2px solid $color-blue;
  }

  &-blue:hover {
    transition: all 0.3s ease;
    background: darken($color-blue, 10%);
    border: 2px solid darken($color-blue, 10%);
  }

  &-blue-outline:hover {
    color: white;
    background-color: $color-blue;
  }

  &-small {
    padding: 0.5rem 1rem;
  }
}

.flex {
  display: flex;
}

// Image colours
.white-image {
  filter: brightness(0) invert(1);
}

// Global media queries
.hide-for-mobile {
  @media screen and (max-width: 999px) {
    display: none;
  }
}

.hide-for-desktop {
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.button_su {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 30px;
}

.su_button_circle {
  background-color: red;
  border-radius: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
  /*animation-timing-function: ease-in-out; */
}

.button_su_inner {
  display: inline-block;
  background: #f8b627;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: normal;
  width: 132px;
  text-align: center;
  border-radius: 3px;
  transition: 400ms;
  text-decoration: none;
  padding: 22px;
  z-index: 100000;
}

.button_text_container {
  position: relative;
  z-index: 10000;
}

.explode-circle {
  animation: explode 0.5s forwards;
}

.desplode-circle {
  animation: desplode 0.5s forwards;
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(42, 53, 80, 0.2);
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8);
  }
}

@keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8);
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(129, 80, 108, 0.6);
  }
}
