header {
  background: $dark-grey;
  background-size: cover;
  min-height: 80vh;
  position: relative;

  #particles-js {
    height: 80vh;
    position: relative;

    // Particles.js canvas
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  nav {
    width: 100%;
    .nav-container {
      position: relative;
      display: flex;
      justify-content: space-between;

      #logo {
        margin: auto 0;
        z-index: 10;
        img {
          width: 250px;
        }
      }

      .nav-links {
        z-index: 1000;
        li {
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 2rem;
        }
        a {
          text-decoration: none;
          letter-spacing: 2px;
          color: $text-color;
        }
        .link::after {
          content: "";
          position: relative;
          display: block;
          width: 0%;
          height: 2px;
          top: 3px;
          margin: auto;
          background: #3b82f6;
          transition: width 0.3s ease;
        }
        .link:hover::after {
          width: 100%;
        }
      }
    }

    .mobile-menu {
      position: relative;
      z-index: 1000;
      .container {
        padding-top: 0;
        .mobile-menu-links {
          ul {
            justify-content: center;
            align-items: center;
            list-style-type: none;
            li {
              margin: 0rem 1rem;
            }
            .link::after {
              content: "";
              position: relative;
              display: block;
              width: 0;
              height: 2px;
              top: 3px;
              margin: auto;
              background: $color-blue;
              transition: width 0.3s ease;
            }
            .link:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // Hero Section
  .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    p {
      color: $text-color;
    }

    h1,
    h2 span {
      letter-spacing: 2px;
      white-space: nowrap;
      text-align: center;
      font-size: clamp(2rem, 5vw, 4rem);
      font-weight: bold;
    }

    p {
      color: $text-light;
      line-height: 1.6;
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 0.5rem;

      .blue-link-underline {
        color: #3783ff;
      }
    }

    .hero-btns {
      white-space: nowrap;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .socials {
    position: absolute;
    bottom: 40%;
    left: -125px;
    z-index: 10;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li {
        transition: 0.3s;
        width: 100%;
        display: flex;
        justify-content: end;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;

        a {
          text-align: right;
          height: 100%;
          width: 100%;
          padding: 15px 20px;
          i {
            font-size: 1.75rem;
            margin-left: 1.5rem;
          }
        }

        &:hover {
          transform: translateX(115px);
        }
      }
    }
  }

  .scroll-btn-container {
    position: absolute;
    width: 100%;
    background: red;
    bottom: 150px;

    div {
      display: flex;
      justify-content: center;
      width: 100%;
      a {
        // height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          display: block;
          height: 20px;
          width: 20px;
          border-bottom: 2px solid $color-blue;
          border-right: 2px solid $color-blue;
          transform: rotate(45deg);
          margin: -20px 0;
          animation: animate 2s infinite;
        }

        span:nth-child(2) {
          animation-delay: -0.2s;
        }

        span:nth-child(3) {
          animation-delay: -0.4s;
        }

        @keyframes animate {
          0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
          }
        }
      }
    }
  }

  .seperator-skew {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;

    svg {
      position: absolute;
      bottom: 0;
      .fill-white {
        fill: white;
      }
    }
  }
}

// Media queries
@media screen and (max-width: 999px) {
  header {
    nav {
      .container {
        padding-bottom: 0.75rem;
      }
      .nav-container {
        justify-content: center;
      }
    }

    .hero {
      top: 55%;
    }

    .socials {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 90%;
  }

  header nav .nav-container #logo img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  header {
    nav {
      .nav-container {
        #logo {
          font-size: 1.5rem;
        }
      }
      .mobile-menu {
        .container {
          .mobile-menu-links {
            ul {
              li {
                margin: 0 0.5rem;
              }
            }
          }
        }
      }
    }
    .hero {
      span {
        max-width: 100%;
      }
      p {
        width: 100%;
      }
    }
  }
}

@media screen and (min-height: 900px) {
  header {
    min-height: 70vh;

    #particles-js {
      height: 70vh;
    }
  }
}
