.skills {
  padding: 6rem 0;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .skills-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 700px;
    margin: 0 auto;
    svg {
      margin: 0.5rem;
      width: 90px;
    }
    li {
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1rem;
      margin: 1rem;

      .aws-logo {
        background: white;
        padding: 10px;
        border-radius: 3px;
      }
    }
    li:hover {
      transform: scale(1.3);
    }
  }

  .seperator-skew-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;

    svg {
      position: absolute;
      top: 0;
      transform: scaleY(-1) scaleX(-1);
      .fill-white {
        fill: white;
      }
    }
  }

  .seperator-skew-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;

    svg {
      position: absolute;
      bottom: 0;
      .fill-white {
        fill: white;
      }
    }
  }
}
